<nav><%=link_to 'Add a book.', '/books/new'%></nav>
<h1>Bookshelf</h1>
<p><%@current_user.books.each do|book|%>
Title:<%=book.title%><br>
Author:<%=book.author%><br>
Completed? <%=book.status%><br>
<%=link_to 'Add a review or Edit a review!', book_path(book)%><br>
<%end%>
</p>