<!DOCTYPE html>
<html>
  <head>
    <title>RailsProjectFlatiron</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%if @current_user%>
    Welcome, <%= @current_user.email%>!<br>
    <br><%= link_to "Bookshelf", user_path(@current_user)%><br>
    <br><%= link_to "Logout", logout_path%><br><br>
  <%else%>
  Please
<%=link_to "Login", login_path%>
    Or 
    <%= link_to "Signup", signup_path%>!
    </nav>
    <%end%>
  </nav>
    <%= yield %>
  </body>
</html>
